<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${courseDetails.name}"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" />

    <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>
<body>
<nav>
    <img src="/images/redi-logo.png" width="218px" height="auto"/>
</nav>


<div id="content">
    <h1 id="courseName" th:text="${courseDetails.name}"/>

    <form name="course_attendance" target="_self" method="post">
        <input type="hidden" name="courseName" th:value="${courseDetails.name}"/>

        <div class="error" th:text="${error}"></div>

        <select name="date">
            <option selected="selected" disabled="disabled">Please select a date</option>
            <option th:each="date : ${courseDetails.dates}" th:text="${date}"/>
        </select>

        <table border="0" rules="none">
            <tr>
                <th></th>
                <th>P</th>
                <th>L</th>
                <th>A</th>
            </tr>

            <tr th:each="student, iter : ${courseDetails.students}"
                th:classappend="${iter.index} % 2 == 0 ? rowLight : rowDark">
                <th th:text="${student}"/>
                <th><input type="radio" th:name="'attendances['+${student}+']'" value="P"/></th>
                <th><input type="radio" th:name="'attendances['+${student}+']'" value="L"/></th>
                <th><input type="radio" th:name="'attendances['+${student}+']'" value="U"/></th>
            </tr>
        </table>

        <input id="submit" type="submit"/>
    </form>

    <p>
        P - present <br />
        L - late <br />
        A - Absent <br />
    </p>
</div>

</body>
</html>
