<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="3;url=/" th:if="${status == 401}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>
<body>
<nav>
    <a href="/">
        <img src="/images/redi-logo.png" width="218px" height="auto"/>
    </a>
</nav>
<div class="error container">
    <div th:if="${status == 401}">
        <p class="status">Oops...</p>
        <p class="message">You need to be logged in to use the app.</p>
        <p class="message extra">We'll send you back to course list in 3s...</p>
    </div>
    <div th:if="${status != 401}">
        <p th:text="${status}" class="status"></p>
    </div>
</div>
</body>
</html>
